<%= render 'shared/nav' %>

<div style="width:70vw; 
height:7vw; 
border-radius:5px; 
background-color:white; 
margin-top:15px; 
margin-bottom:15px; 
display: flex;
justify-content: center;
align-items: center;">
    <%= link_to 'new listing', new_listing_path, class:"font-weight-bold display-4" %>
</div>

<%= render 'shared/listings' %>