<%= render 'shared/nav' %>

<div style="width:70vw; height:5vw; border-radius:2px; background-color:white; margin-top:5px; margin-bottom:5px;">
    <%= link_to 'new listing', new_listing_path %>
</div>

<%= render 'shared/listings' %>