<%= render 'shared/nav' %>

<div style="width:70vw; height:5vw; border-radius:10px; background-color:white;">
    <%= link_to 'new listing', new_listing_path %>
</div>

<%= render 'shared/listings' %>